<div class="transbox">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Editing service</h2>
  </div>
  <div class='opacity2'></div>
  <div class="body">
    </br>

    <%= render 'form' %>

<%= link_to 'Show', @service %> |
<%= link_to 'Back', services_path %>

  </div>
</div>