<div class="transbox">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Página no encontrada</h2>
  </div>
  <div class='opacity2'></div>
  <div class="body">  
          <h4>
            ¡Vaya! Parece que te has perdido</br></br>
            Estás buscando algo que no existe, lo sentimos.
            </br></br>
            Quizás quieras ir a:</br>
            </h4>
         

        <h2><%= link_to "Página de Inicio", root_path, class: "btn btn-large btn-inverse btn-index" %></h2>    
    </div>
</div>

